# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
/vcpkg_installed
/.vs
*.user
# I dont know how to change the output of the build folder
# so this will stay here until I figure something else out because I need sleep.
/PH-Moonbridge
*.ilk
*.pdb
/settings.json
/debugmode.txt
